@import "tailwindcss";

/* === Font: FK Grotesk Semi Mono Regular === */
@font-face {
  font-family: "FKGroteskMono";
  src: url("/Fonts/FKGroteskSemiMonoTrial-Regular.otf") format("opentype");
}

/* === Font: PP Editorial New UltraLight === */
@font-face {
  font-family: "PPEditorialNew";
  src: url("/Fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf")
    format("opentype");
}
/* globals.css */
@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
